<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find abb_resources)/urdf/common_materials.xacro"/>

  <xacro:macro name="abb_irb2600_12_165" params="prefix">
    <!-- links -->
     <link name="zero_link">
     </link>
    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/visual/base_link.stl" />
        </geometry>
        <xacro:material_abb_orange/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/collision/base_link.stl" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="100.0"/> <!-- in kg -->
        <inertia ixx="0.8" ixy="0.0" ixz="0.0"
                iyy="0.8" iyz="0.0"
                izz="0.8"/>
      </inertial>
    </link>
    <link name="${prefix}link_1">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/visual/link_1.stl" />
        </geometry>
        <xacro:material_abb_orange/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/collision/link_1.stl" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="25.0"/> <!-- in kg -->
        <inertia ixx="0.3" ixy="0.0" ixz="0.0"
                iyy="0.3" iyz="0.0"
                izz="0.3"/>
      </inertial>
    </link>
    <link name="${prefix}link_2">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/visual/link_2.stl" />
        </geometry>
        <xacro:material_abb_orange/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/collision/link_2.stl" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="25.0"/> <!-- in kg -->
        <inertia ixx="0.3" ixy="0.0" ixz="0.0"
                iyy="0.3" iyz="0.0"
                izz="0.3"/>
      </inertial>
    </link>
    <link name="${prefix}link_3">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/visual/link_3.stl" />
        </geometry>
        <xacro:material_abb_orange/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/collision/link_3.stl" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="15.0"/> <!-- in kg -->
        <inertia ixx="0.2" ixy="0.0" ixz="0.0"
                iyy="0.2" iyz="0.0"
                izz="0.2"/>
      </inertial>
    </link>
    <link name="${prefix}link_4">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/visual/link_4.stl" />
        </geometry>
        <xacro:material_abb_orange/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/collision/link_4.stl" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="25.0"/> <!-- in kg -->
        <inertia ixx="0.3" ixy="0.0" ixz="0.0"
                iyy="0.3" iyz="0.0"
                izz="0.3"/>
      </inertial>
    </link>
    <link name="${prefix}link_5">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/visual/link_5.stl" />
        </geometry>
        <xacro:material_abb_orange/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/collision/link_5.stl" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="15.0"/> <!-- in kg -->
        <inertia ixx="0.2" ixy="0.0" ixz="0.0"
                iyy="0.2" iyz="0.0"
                izz="0.2"/>
      </inertial>
    </link>
    <link name="${prefix}link_6">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/visual/link_6.stl" scale="0.1 0.1 0.1"/>
        </geometry>
        <material name="">
          <color rgba="0.5 0.5 0.5 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://abb_irb2600_support/meshes/irb2600_12_165/collision/link_6.stl" scale="0.1 0.1 0.1"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="5.0"/> <!-- in kg -->
        <inertia ixx="0.1" ixy="0.0" ixz="0.0"
                iyy="0.1" iyz="0.0"
                izz="0.1"/>
      </inertial>
    </link>

    <!-- Joints -->
     <joint name="zero_joint" type="fixed">
       <origin xyz="0 0 0" rpy="0 0 0"/>
       <parent link="zero_link"/>
       <child link="${prefix}base_link"/>
     </joint>
    <joint name="${prefix}joint_1" type="revolute">
      <origin xyz="0 0 0.445" rpy="0 0 0" />
      <parent link="${prefix}base_link" />
      <child link="${prefix}link_1" />
      <axis xyz="0 0 1" />
      <limit lower="-3.14159" upper="3.14159" effort="0" velocity="3.054" />
    </joint>
    <joint name="${prefix}joint_2" type="revolute">
      <origin xyz="0.15 0 0.0" rpy="0 0 0" />
      <parent link="${prefix}link_1" />
      <child link="${prefix}link_2" />
      <axis xyz="0 1 0" />
      <limit lower="-2.705" upper="1.658" effort="0" velocity="3.054" />
    </joint>
    <joint name="${prefix}joint_3" type="revolute">
      <origin xyz="0 0 0.7" rpy="0 0 0" />
      <parent link="${prefix}link_2" />
      <child link="${prefix}link_3" />
      <axis xyz="0 1 0" />
      <limit lower="-2.705" upper="1.309" effort="0" velocity="3.054" />
    </joint>
    <joint name="${prefix}joint_4" type="revolute">
      <origin xyz="0 0 0.115" rpy="0 0 0" />
      <parent link="${prefix}link_3" />
      <child link="${prefix}link_4" />
      <axis xyz="1 0 0" />
      <limit lower="-6.981" upper="6.981" effort="0" velocity="6.283" />
    </joint>
    <joint name="${prefix}joint_5" type="revolute">
      <origin xyz="0.795 0 0 " rpy="0 0 0" />
      <parent link="${prefix}link_4" />
      <child link="${prefix}link_5" />
      <axis xyz="0 1 0" />
      <limit lower="-2.094" upper="2.094" effort="0" velocity="6.283" />
    </joint>
    <joint name="${prefix}joint_6" type="revolute">
      <origin xyz="0.085 0 0" rpy="0 0 0" />
      <parent link="${prefix}link_5" />
      <child link="${prefix}link_6" />
      <axis xyz="1 0 0" />
      <limit lower="-6.981" upper="6.981" effort="0" velocity="8.727" />
    </joint>

    <!-- ROS-Industrial 'base' frame: base_link to ABB World Coordinates transform -->
    <link name="${prefix}base" />
    <joint name="${prefix}base_link-base" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}base"/>
    </joint>

    <!-- ROS-Industrial 'flange' frame: attachment point for EEF models -->
    <link name="${prefix}flange"/>
    <joint type="fixed" name="${prefix}joint_6-flange">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${prefix}link_6"/>
      <child link="${prefix}flange"/>
    </joint>

    <!-- ROS-Industrial 'tool0' frame: all-zeros tool frame -->
    <link name="${prefix}tool0" />
    <joint name="${prefix}link_6-tool0" type="fixed">
      <origin xyz="0 0 0" rpy="0 ${radians(90)} 0" />
      <parent link="${prefix}flange" />
      <child link="${prefix}tool0" />
    </joint>

    <transmission name="${prefix}tran_1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_1">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}motor_1">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}tran_2">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_2">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}motor_2">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}tran_3">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_3">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}motor_3">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}tran_4">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_4">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}motor_4">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}tran_5">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_5">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}motor_5">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}tran_6">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_6">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}motor_6">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>



  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>

  </xacro:macro>
</robot>
